<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <nav>
    <nav class="nav">
      <a href="/questions">Questions</a>       <a href="/canvas">PixelBoard</a>
      <a href="/kudos">Kudos</a>
    </nav>
  </nav>
  <body class="container">
    <section>
      <a href="/questions">Back To Questions</a>
      <div class="link row">
        <div class="col l3">
        </div>
        <div class="col l9">
          <span class="title">
            <h1>{{title}}</h1>
            <h4>{{body}}</h4>
          </span>
        </div>
      </div>
    </section>
    <section>
      {{#each data}}
      <form action="/addAnswer/{{id}}" method="post">
      {{/each}}
        <div>
          <label for="body">answer</label>
          <input type="text" name="body" value="">
        </div>
        <button>Add answer</button>
      </form>

    </section>
    <section>
      {{#each data}}
      <div class="link row">
        <form method="post" href="/endorse/{{this.id}}" action="/endorse/{{this.id}}">
                <button class="button"><img src="/media/talk.png" alt=""></button>
                <input type="hidden" name="answer_id" value="{{this.answer_id}}">
                <input type="hidden" name="votes" value="{{this.votes}}">
            </form>
            <span class="votes">{{this.votes}}</span>
        <h6>{{this.answer_body}}</h6>
      </div>
      {{/each}}

    </section>

  </body>
</html>
